Makefile
autom4te.cache/
libtool
config.log
config.status
src/Makeilfe
src/yskip
src/.deps/
src/*.o
test/Makeilfe
test/comp_skipgram
test/test_dense_matrix
test/test_fast_sigmoid
test/test_random
test/test_skipgram
test/test_unigram_table
test/test_util
test/test_vec_util
test/test_vocab
test/tmp
test/*.o
test/.deps/
